.matrix {
  display: flex;
  flex-direction: row;
}

.matrix-col {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  margin: 2px;
}

.matrix-note {
    width: 50px;
    padding: 20px 0;
    margin: 2px 5px;
    border: 3px outset;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    background: buttonface;
}

.note-selected {
  background: buttonhighlight;
  border: 3px inset;
}