BODY, HTML {
  margin: 0;
  padding: 0;
}

.matrix {
  display: flex;
  flex-direction: row;
}

.matrix-col {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.matrix-note {
    width: 30px;
    padding: 3px 0;
    margin: 3px 3px;
    border: 2px outset;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    background: lightsteelblue;
}

.note-selected {
  background: darkorange;
  border: 2px inset;
}

.col-playing {
  background: palegoldenrod;
}